version: '3.8'

services:
  postgres-primary:
    image: postgres:15
    container_name: postgres-primary
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - ./primary-data:/var/lib/postgresql/data
      - ./init-primary.sql:/docker-entrypoint-initdb.d/init.sql
    command: >
      postgres -c wal_level=logical
               -c max_replication_slots=10
               -c max_wal_senders=10
               -c shared_preload_libraries=pg_cron
               -c cron.database_name=mydb

  postgres-replica:
    image: postgres:15
    container_name: postgres-replica
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5433:5432"
    volumes:
      - ./replica-data:/var/lib/postgresql/data
      - ./init-replica.sql:/docker-entrypoint-initdb.d/init.sql
